/.github
/.husky
/src
/.editorconfig
/.eslintignore
/.eslintrc.js
/.gitignore
/.npmignore
/.nvmrc
/.prettierignore
/.prettierrc
/commitlint.config.js
/husky.config.js
/jest.config.ts
/lint-staged.config.js
/release.config.js
/tsconfig.json
*.d.ts
/.pnp.js
/.yarn
/README.md
/CHANGELOG.md
/reports
/coverage
/release
/website
/src
/types
/test
